.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px -2px rgba(0,0,0,0.2);
  padding: 10px 20px;
  background-color: #fff;

  flex-wrap: wrap; 
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.navbar-logo-link {
  text-decoration: none;
  color: inherit;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

.navbar-logo p {
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.navbar-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu-link {
  color: inherit;
  text-decoration: none;
}

.navbar-home {
  color: black;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.navbar-profile-link {
  text-decoration: none;
  color: inherit;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-logout-link {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-logout p {
  margin: 0;
  color: black;
  font-weight: 600;
}

.navbar-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-login img {
  height: 40px;
  width: 40px;
}


@media (max-width: 1024px) {
  .navbar-left {
    gap: 20px;
  }

  .navbar-home {
    font-size: 18px;
  }

  .navbar-logo img {
    width: 45px;
    height: 45px;
  }

  .navbar-logo p {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .navbar-left {
    gap: 15px;
  }

  .navbar-home {
    font-size: 16px;
  }

  .navbar-logo img {
    width: 40px;
    height: 40px;
  }

  .navbar-logo p {
    font-size: 20px;
  }

  .navbar-right {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .navbar-searchbar {
    display: none; 
  }

  .navbar-left {
    gap: 10px;
  }

  .navbar-home {
    font-size: 14px;
  }

  .navbar-logo img {
    width: 35px;
    height: 35px;
  }

  .navbar-logo p {
    font-size: 18px;
  }

  .navbar-right {
    gap: 8px;
  }

  .navbar-profile img,
  .navbar-login img {
    width: 35px;
    height: 35px;
  }

  .navbar-logout p {
    font-size: 14px;
  }
}
